In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file_path=("C:\\Users\\shrav\\Downloads\\Visadataset - Visadataset.csv")
visa_df=pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

 $numerical-data-analysis$

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
visa_df["prevailing_wage"]    #as a series

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
visa_df["prevailing_wage"].values

array([   592.2029,  83425.65  , 122996.86  , ..., 146298.85  ,
        86154.77  ,  70876.91  ])

$count$-
$min$-
$max$-
$mean$-
$median$-

In [19]:
wage_count=round(visa_df["prevailing_wage"].count(),2)
wage_count

25480

In [29]:
dict1={}
wage_count=round(visa_df["prevailing_wage"].count(),2)
wage_min=round(visa_df["prevailing_wage"].min(),2)
wage_max=round(visa_df["prevailing_wage"].max(),2)
wage_mean=round(visa_df["prevailing_wage"].mean(),2)
wage_median=round(visa_df["prevailing_wage"].median(),2)
wage_std=round(visa_df["prevailing_wage"].std(),2)
dict1["count"]=wage_count
dict1["min"]=wage_min
dict1["max"]=wage_max
dict1["mean"]=wage_mean
dict1["median"]=wage_median
dict1["std"]=wage_std
dict1
pd.DataFrame(dict1,index=["preaviling_wage"])

                 count   min        max      mean    median       std
preaviling_wage  25480  2.14  319210.27  74455.81  70308.21  52815.94

In [21]:
visa_df["prevailing_wage"].nunique()

25454

In [22]:
visa_df["prevailing_wage"].value_counts()

prevailing_wage
82560.2800     2
122.6500       2
60948.1500     2
64357.5800     2
108.1200       2
              ..
25713.9800     1
101656.6400    1
65665.5500     1
50.8813        1
70876.9100     1
Name: count, Length: 25454, dtype: int64

never apply value_counts()for numerical data

$using-list$

In [31]:
wage_count=round(visa_df["prevailing_wage"].count(),2)
wage_min=round(visa_df["prevailing_wage"].min(),2)
wage_max=round(visa_df["prevailing_wage"].max(),2)
wage_mean=round(visa_df["prevailing_wage"].mean(),2)
wage_median=round(visa_df["prevailing_wage"].median(),2)
wage_std=round(visa_df["prevailing_wage"].std(),2)
list1=[wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std]
pd.DataFrame(list1,
            columns=["prevailing_wage"],
            index=["count","min","max","mean","median","std"])

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

In [86]:
#step-1:numerical list
dtypes=dict(visa_df.dtypes)
num=[i for i in dtypes if dtypes[i]!="O"]
print(num)
dict1={}
for i in num:
    count=round(visa_df[i].count(),2)
    MIN=round(visa_df[i].min(),2)
    MAX=round(visa_df[i].max(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    list1=[count,MIN,MAX,mean,median,std]
    dict1[i]=list1
    list1=[count,MIN,MAX,mean,median,std]
    df=pd.DataFrame(dict1,
                columns=[i],
    index=["count","min","max","mean","median","std"])
    print(df)
df

['no_of_employees', 'yr_of_estab', 'prevailing_wage']
        no_of_employees
count          25480.00
min              -26.00
max           602069.00
mean            5667.04
median          2109.00
std            22877.93
        yr_of_estab
count      25480.00
min         1800.00
max         2016.00
mean        1979.41
median      1997.00
std           42.37
        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

In [46]:
#step-1:numerical list
dtypes=dict(visa_df.dtypes)
num=[i for i in dtypes if dtypes[i]!="O"]
print(num)
dict1={}
for i in num:
    count=round(visa_df[i].count(),2)
    MIN=round(visa_df[i].min(),2)
    MAX=round(visa_df[i].max(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    list1=[count,MIN,MAX,mean,median,std]
    dict1[i]=list1
#     list1=[count,MIN,MAX,mean,median,std]
    df=pd.DataFrame(dict1,
#                 columns=[i],
    index=["count","min","max","mean","median","std"])
#     print(df)
df

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00         25480.00
min              -26.00      1800.00             2.14
max           602069.00      2016.00        319210.27
mean            5667.04      1979.41         74455.81
median          2109.00      1997.00         70308.21
std            22877.93        42.37         52815.94

In [47]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [ ]:
-we implemented describe function with our own python skill

In [48]:
visa_df["prevailing_wage"].mean()
#reading a specific column
#we have a mean method

74455.81459209183

In [ ]:
#np.mean(<specific column data>)

In [52]:
np.mean(visa_df["prevailing_wage"])
np.median(visa_df["prevailing_wage"])
np.std(visa_df["prevailing_wage"])
np.min(visa_df["prevailing_wage"])
np.max(visa_df["prevailing_wage"])

319210.27

$percentile$-$quantile$

In [ ]:
-percentile ranges from 1 to 100
-quantile q1=25p q2=50p q3=75p
-np.percentile(<direct number btw 1 to 100>)
-ex:np.percentile(75,data)
-np.quantile(<decimal number,data>)
-ex:np.quantile(0.75,data)

In [57]:
q1=round(np.percentile(visa_df["prevailing_wage"],25),2)
q2=round(np.percentile(visa_df["prevailing_wage"],50),2)
q3=round(np.percentile(visa_df["prevailing_wage"],75),2)
print(q1,q2,q3)

34015.48 70308.21 107735.51

In [60]:
q1=round(np.quantile(visa_df["prevailing_wage"],0.25),2)
q2=round(np.quantile(visa_df["prevailing_wage"],0.50),2)
q3=round(np.quantile(visa_df["prevailing_wage"],0.75),2)
print(q1,q2,q3)

34015.48 70308.21 107735.51

In [62]:
#step-1:numerical list
dtypes=dict(visa_df.dtypes)
num=[i for i in dtypes if dtypes[i]!="O"]
print(num)
dict1={}
for i in num:
    count=round(visa_df[i].count(),2)
    MIN=round(visa_df[i].min(),2)
    MAX=round(visa_df[i].max(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    q1=round(np.percentile(visa_df[i],25),2)
    q2=round(np.percentile(visa_df[i],50),2)
    q3=round(np.percentile(visa_df[i],75),2)
    
    list1=[count,MIN,MAX,mean,median,std,q1,q2,q3]
    dict1[i]=list1
#     list1=[count,MIN,MAX,mean,median,std]
    df=pd.DataFrame(dict1,
#                 columns=[i],
    index=["count","min","max","mean","median","std","25","50","75"])
#     print(df)
df

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00         25480.00
min              -26.00      1800.00             2.14
max           602069.00      2016.00        319210.27
mean            5667.04      1979.41         74455.81
median          2109.00      1997.00         70308.21
std            22877.93        42.37         52815.94
25              1022.00      1976.00         34015.48
50              2109.00      1997.00         70308.21
75              3504.00      2005.00        107735.51

In [63]:
q1=round(np.percentile(visa_df["prevailing_wage"],25),2)
q1
#what is the mean of this?
#25% are below is 34015
#25 percentage of observations from the total data having a value below 34015

34015.48

total_observations=25480
25percentage (25480)
25*25480/100=6370
6370 people have wages less than 34015

In [66]:
len(visa_df[visa_df["prevailing_wage"]<34015])
#how many trues =6370

6370

$imperical-rule$

<img class="mimg rms_img" style="color: rgb(201, 82, 2);" height="180" width="298" alt="Image result for imperical rule" id="emb21CD5C91E" src="" data-thhnrepbd="1" data-bm="116">

<img class="mimg rms_img" style="color: rgb(100, 100, 103);" height="180" width="267" alt="Image result for impertcal rule" id="embF6CE79B89" src="" data-thhnrepbd="1" data-bm="134">

wage_mean,wage_std

In [73]:
val_minus_1=round(wage_mean-1*wage_std,2)
val_plus_1=round(wage_mean+1*wage_std,2)
val_minus_2=round(wage_mean-2*wage_std,2)
val_plus_2=round(wage_mean+2*wage_std,2)
val_minus_3=round(wage_mean-3*wage_std,2)
val_plus_3=round(wage_mean+3*wage_std,2)
print(val_minus_1,val_plus_1,val_minus_2,val_plus_2,val_minus_3,val_plus_3)

21639.87 127271.75 -31176.07 180087.69 -83992.01 232903.63

-68 percentage of observation have values btw[21639.87,127271.75 ]
-95 percentage of observation have values btw[-31176.07,180087.69 ]
-99.7 percentage of observation have values btw[-83992.01,232903.63 ]

In [76]:
con1=visa_df["prevailing_wage"]>val_minus_1
con2=visa_df["prevailing_wage"]<val_plus_1
len(visa_df[con1&con2])

17171

In [78]:
len(visa_df[con1&con2])/len(visa_df)

0.673901098901099

In [79]:
con1=visa_df["prevailing_wage"]>val_minus_2
con2=visa_df["prevailing_wage"]<val_plus_2
len(visa_df[con1&con2])

24582

In [80]:
len(visa_df[con1&con2])/len(visa_df)

0.9647566718995291

In [81]:
con1=visa_df["prevailing_wage"]>val_minus_3
con2=visa_df["prevailing_wage"]<val_plus_3
len(visa_df[con1&con2])

25186

In [82]:
len(visa_df[con1&con2])/len(visa_df)

0.9884615384615385

In [ ]:
68-95-99.7
67-96-98